<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0b628a;">
  <a href="#"><img src="../assets/imgs/c4.PNG"></a>    
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <img style="padding-left: 3%;" src="../assets/imgs/headerimage2.PNG">    
      <div style="padding-left: 5px;">
        <p class="white">State of California</p>
        <h3 class="white">Departament Of Industrial Relations</h3>
      </div>
    </div>
  </div>
  <div class="navbar-nav">
    <a href="#" class="nav-item nav-link">Press room</a>  
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link">Índice en español</a>
      </div>
    </div>  
  </div>
  <div class="navbar-nav">
    <a href="#" style="background-color: rgb(17, 97, 184);" class="nav-item nav-link"><img src="../assets/imgs/gear.png" alt=""> Settings</a>  
  </div>   
</nav>

<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(48, 48, 48);;">
  <a href=""></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
    <img class="navbar-toggler-icon" src="../assets/imgs/search.png">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse2">
    <a href="#" class="nav-item" style="padding-left: 30px;"><img src="../assets/imgs/home.png"></a>
          <ul class="navbar-nav">    
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Lavor Law</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Cal/OSHA-Safety & Healt</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Workers' Comp</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Self Insurance</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Apprenticeship</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Director's Office</a>
            <a href="#" class="nav-link" style="padding-left: 50px; font-weight: bold;">Boards</a> 
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" style="padding-left: 100px;"><img src="../assets/imgs/search.png" alt=""></a>
            </li>
        </ul>
  </div>
</nav>

<div class="progress-bar bg-warning" style="width: 100%; height: 2px;"></div>

<div class="imageNav" style="padding-top: 5%; padding-bottom: 5%;">
  <div class="container h-100">
    <h3 class="d-flex justify-content-center h-100 white">What are you looking for?</h3>
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
</div>

  <div class="container" style="padding-top: 3%;">
    <div class="card-deck">
        <div class="card mb-4">
          <a href="https://www.123rf.com/stock-photo/119890024-double-exposure-of-stack-of-coins-and-bank-account-for-finance-concept.html?oriSearch=102826831-two-engineers-or-architects-supervising-the-process-of-residential-building-construction-standing-on&sti=ltrxgiiwljz68khkrc|&mediapopup=119890024"><img class="card-img-top img-fluid" src="../assets/imgs/access_to_state_labor_law.jpg" ></a>            
            <div class="card-body">
                <p class="card-text">Access to State Labor Law and Payroll Tax Seminar</p>
            </div>
        </div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/143086748-engineer-builder-using-tablet-working-outdoors-construction-concept-.html?oriSearch=119890024-double-exposure-of-stack-of-coins-and-bank-account-for-finance-concept&sti=nyr4ksvfe5lf3pqbxw|&mediapopup=143086748"><img class="card-img-top img-fluid" src="../assets/imgs/workplace_safety_etool.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Workplace Safety e Tool that provides model IIPP</p>
                
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/66237058-selangor-malaysia-april-05-2016-construction-workers-wearing-safety-harness-and-installing-scaffoldi.html?oriSearch=42939213-carpenter-taking-measurement-of-a-wooden-plank&sti=mvilnowvyqrh5tnmkm|&mediapopup=66237058"><img class="card-img-top img-fluid" src="../assets/imgs/worker_compensation_requirements.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Worker's compensation requirements FAQ</p>
                
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/98720901-a-helmet-that-sits-on-your-desk-in-building-construction-.html?oriSearch=66237058-selangor-malaysia-april-05-2016-construction-workers-wearing-safety-harness-and-installing-scaffoldi&sti=nbqdtywdrtxozfsye5|&mediapopup=98720901"><img class="card-img-top img-fluid" src="../assets/imgs/workplace_safety.jpg" ></a>
            <div class="card-body"> 
                <p class="card-text">Workplace Safety/ Cal / OSHA</p>
                
            </div>
        </div>

        <div class="w-100 d-none d-xl-block"></div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/38204609-concrete-construction-contractor-installing-a-sidewalk-curb-and-storm-drainage-gutter-on-a-new-urban.html?oriSearch=31009623-engineer-teaching-apprentice-to-use-milling-machine&sti=nvla3qam58r6f0wc7v|&mediapopup=38204609"><img class="card-img-top img-fluid" src="../assets/imgs/resources_for_public_works.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Resources for public works</p>                
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/102826831-two-engineers-or-architects-supervising-the-process-of-residential-building-construction-standing-on.html?oriSearch=98720901-a-helmet-that-sits-on-your-desk-in-building-construction-&sti=mt0t7n9iuh5ehksnct|&mediapopup=102826831"><img class="card-img-top img-fluid" src="../assets/imgs/contractor_registration.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Contractor Registration</p>                
            </div>
        </div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/42939213-carpenter-taking-measurement-of-a-wooden-plank.html?oriSearch=38204609-concrete-construction-contractor-installing-a-sidewalk-curb-and-storm-drainage-gutter-on-a-new-urban&sti=m1jdah792r1mand3oz|&mediapopup=42939213"><img class="card-img-top img-fluid" src="../assets/imgs/help_for_small_businesses.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Help for small businesses</p>                
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="w-100 d-none d-lg-block d-xl-none"></div>
        <div class="card mb-4">
            <a href="https://www.123rf.com/stock-photo/31009623-engineer-teaching-apprentice-to-use-milling-machine.html?oriSearch=102826831-two-engineers-or-architects-supervising-the-process-of-residential-building-construction-standing-on&sti=nlnn8srde369wqk5v8|&mediapopup=31009623"><img class="card-img-top img-fluid" src="../assets/imgs/starting_an_apprenticeship_program.jpg" ></a>
            <div class="card-body">
                <p class="card-text">Starting an Aprrenticeship Program</p>                
            </div>
        </div>
    </div>
</div>

<footer>
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>About DIR</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Who we are</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>DIR Divisions, Boards & Commissions</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Tribal Consultation</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Contact DIR</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Work with Us</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Career Opportunities</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Licesing, registrations, certifications & permits</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Required Notifications</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Public Records Request </a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Learn More</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Acceso al idioma</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Frecuently Asked Questions</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Federal Funding Disclosure</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Site Map</a></li>          
          </ul>
        </div>
      </div>
    </div>
  </section>
    <table class="table" style="margin-bottom: 0px;" id="content-mobile">
      <thead></thead>
      <tbody>
        <tr class="table-dark">
          <th><a href="">Back to Top</a></th>
          <th><a href="">Conditions of Use</a></th>
          <th><a href="">Disclaimer</a></th>
          <th><a href="">Privacy Policy</a></th>
          <th><a href="">Site Help</a></th>
          <th><a href="">Contact DIR</a></th>
          <th style="text-align: right;">
            <a href=""><img src="../assets/imgs/fb.png" alt=""></a>
            <a href=""><img src="../assets/imgs/tw.png" alt=""></a>
            <a href=""><img src="../assets/imgs/yt.png" alt=""></a>
          </th>
        </tr>
        <tr class="table-light">
          <td colspan="7" style="font-weight: bold; font-size: medium; text-align: center;">Copyright © 2020 State of California</td>
        </tr>
      </tbody>
    </table>
</footer>
